<div class="w-[90%] mx-auto my-3">
  <app-sorting
    (selectEvent)="updateFilter($event)"
    (updateInput)="updateWord($event)"
    (sortByDateEvent)="sortByDate($event)"
    (sortByPagesEvent)="sortByPages($event)"
  ></app-sorting>
  <table>
    <tr>
      <th class="border-2 border-black p-4">Title</th>
      <th class="border-2 border-black p-4">Count of pages</th>
      <th class="border-2 border-black p-4">Date of publishing</th>
      <th class="border-2 border-black p-4">Description</th>
    </tr>
    <tr *ngFor="let book of books | filterBooks: filterBy : filterWord">
      <td class="border-2 border-black p-4 whitespace-nowrap">{{book.title}}</td>
      <td class="border-2 border-black p-4 whitespace-nowrap">{{book.pageCount}}</td>
      <td class="border-2 border-black p-4 whitespace-nowrap">{{book.publishDate | date}}</td>
      <td class="border-2 border-black p-4">{{book.description}}</td>
    </tr>
  </table>
</div>
